body {
  margin: 0;
}

.app {
  font-family: "Source Sans Pro", sans-serif;
}

.MuiButtonBase-root-11.MuiFab-root-1.fab {
  background-color: coral;
  position: fixed;
  top: 138px;
  right: 20px;
  z-index: 1;
}

.icon-mui {
  color:white;
}