.app-container {
  font-family: "Source Sans Pro", sans-serif;
}

.MuiButtonBase-root-11.MuiFab-root-1.fab {
  background-color: coral;
  position: fixed;
  top: 138px;
  right: 20px;
  z-index: 1;
}

.icon-mui {
  color:white;
}

.btns-container {
  height: 100%; 
  padding: 1px 1px; 
  margin-bottom: 15px;
  justify-content: center
}

.btns-container .category-button {
  min-width: 90px;
  min-height: 50px;
  border-right: 1px solid rgba(0,0,0, 0.1);
  font-size: 15px;
  text-transform: initial;
}