.posts-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.posts-list .post-item {
  position: relative;
  width: 50%;
  font-family: "Source Sans Pro";
  color: #fff;
  overflow: hidden;
}

.edit-icon {
  margin-right: 20px;
}